@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  background-image: url("./images/bg75.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.metrics {
  display: none;
  align-items: center;
  justify-content: center;
}

.metrics-container {
  display: flex;
  justify-content: center;
  background-color: black;
  background-image: linear-gradient(180deg, rgb(91, 91, 91), black);
  margin-top: 1.1rem;
  padding: 0.7rem;
  border-radius: 40px;
  z-index: 10;
  border: solid 0.25px rgb(255, 179, 37);
  box-shadow: 0px 0px 15px orange;
}

.turn-counter,
.cards-remaining-counter {
  padding: 0.55rem;
  width: 2rem;
  outline: none;
  user-select: none;
  text-align: center;
  user-select: none;
  background-color: whitesmoke;
  border: none;
  color: black;
  font-size: 1rem;
  text-align: center;
  z-index: 10;
  border: solid 2px orange;
}

.cards-remaining-counter {
  margin-right: 1.2rem;
}

.turn-counter-title,
.cards-remaining-title {
  font-size: 1.2rem;
  margin: 0rem 1rem;
  user-select: none;
  color: rgb(235, 235, 235);
  font-weight: bold;
}

.container {
  height: 86vh;
  width: 40rem;
  display: none;
  margin-top: 10px;
}

.board {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  margin-bottom: 1rem;
  box-sizing: border-box;
  color: white;
  background-color: black;
  padding: 1rem 2rem;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  animation-name: blink;
  animation-duration: 0.00111ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-shadow: 0px 0px 10px yellow, 0px 0px 10px, 0px 0px 20px cyan,
    0px 0px 30px pink, 0px 0px 40px orangered, 0px 0px 10px black,
    0px 0px 20px gray;
  z-index: 10;
}

.high-score-table-title {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  box-sizing: border-box;
  color: white;
  background-color: black;
  margin-bottom: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 60px;
  text-shadow: 0px 0px 10px orange, 0px 0px 5px orange;
  display: flex;
  animation-name: blink;
  animation-duration: 0.00111ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-shadow: 0px 0px 10px yellow, 0px 0px 10px, 0px 0px 20px cyan,
    0px 0px 30px pink, 0px 0px 40px orangered, 0px 0px 10px black,
    0px 0px 20px gray;
  z-index: 10;
}

.logo {
  height: 100px;
  width: 170px;
  display: block;
  background-image: url("./images/logo.png");
  background-size: cover;
  margin: 0rem 1rem;
}
.start-game-button,
.high-score-button {
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0.5rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  border: 2px solid black;
  transition: all 200ms ease-in;
  animation-name: blink;
  animation-duration: 0.00111ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-shadow: 0px 0px 10px yellow, 0px 0px 10px, 0px 0px 20px cyan,
    0px 0px 30px pink, 0px 0px 40px orangered, 0px 0px 10px black,
    0px 0px 20px gray;
  z-index: 10;
}

.start-game-button:hover,
.high-score-button:hover {
  background-color: whitesmoke;
  color: black;
}

.back-to-main-menu-button {
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  width: 17rem;
  margin-top: 1.2rem;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  transition: all 200ms ease-in;
  box-sizing: border-box;
  border: 2px solid black;
  animation-name: blink;
  animation-duration: 0.00111ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-shadow: 0px 0px 10px yellow, 0px 0px 10px, 0px 0px 20px cyan,
    0px 0px 30px pink, 0px 0px 40px orangered, 0px 0px 10px black,
    0px 0px 20px gray;
  z-index: 10;
}

.back-to-main-menu-button:hover {
  background-color: whitesmoke;
  color: black;
}

.card {
  height: 150px;
  width: 100px;
  background-image: url("./images/card.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  color: transparent;
  font-size: 3rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  border: solid 2px rgb(255, 143, 45);
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px rgb(255, 225, 0);
}

.active {
  background-color: white;
  background-image: none;
  user-select: none;
  box-sizing: border-box;
  border: solid 2px black;
}

.high-score-table {
  width: 20rem;
  background-color: rgb(193, 193, 193);
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  user-select: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.high-score-table-container {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.table-row {
  background-color: whitesmoke;
  border: solid 1px black;
  box-sizing: border-box;
  color: black;
}

.table-row:hover {
  background-color: rgb(193, 193, 193);
}

.table-heading {
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 0.75rem;
  color: white;
  box-sizing: border-box;
}

.table-cell {
  text-align: center;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
}

.table-rank {
  background-color: black;
  padding: 0.75rem;
  text-align: center;
  color: white;
  box-sizing: border-box;
}

.table-cell-rank {
  width: 20%;
  padding: 0.75rem;
  text-align: center;
  box-sizing: border-box;
}

.high-score-table-overflow {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  max-height: 21rem;
  min-height: 21rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  z-index: 10;
}

.lens-flare {
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url("./images/flare.png");
  background-size: cover;
  filter: brightness(10000%);
  animation-name: flash;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  0% {
    text-shadow: 0px 0px 10px yellow, 0px 0px 10px, 0px 0px 20px cyan;
  }
  90% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 10px yellow, 0px 0px 10px, 0px 0px 20px cyan,
      0px 0px 30px pink, 0px 0px 40px orangered, 0px 0px 20px rgb(0, 221, 255);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}
